{% extends 'layouts/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'styles/estilosOferta.css' %}">
<title>Registrar Mayorista</title>
{% endblock %}

<!-- Inicio body -->

{% block content %}
<main class="oferta registrar-usuario">
  <section class="oferta-img">
    <img src="{% static 'img/mayorista.png' %}" alt="oferta">
  </section>
  <section class="oferta-form-container user-form-container">
    <form action="" class="oferta-form">
      <div>
        <h2>Registrar</h2>
        <h3>Mayorista</h3>
      </div>
      <input type="number" placeholder="Cedula">
      <input type="text" placeholder="Nombre">
      <input type="text" placeholder="Segundo nombre">
      <input type="text" placeholder="Primer paellido">
      <input type="text" placeholder="Segundo apellido">
      <input type="email" placeholder="Correo electronico">
      <input type="password" placeholder="Contraseña">
      <input type="text" placeholder="Direccion">
      <input type="number" placeholder="telefono">
      <div>
        <input class="button" type="submit" value="REGISTRAR">
        <button class="button">CANCELAR</button>
      </div>
    </form>
  </section>
  {% endblock %}