{% extends 'layouts/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'styles/estilosVehiculo.css' %}">
<title>Vehiculo</title>
{% endblock %}

<!-- Inicio body -->

{% block content %}
<main>
  <article class="vehiculo vehiculos-registradas">
    <section class="title">
      <h2>Tus Vehiculos Registrados</h2>
      <a href="./registrar"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
          stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
      </a>
    </section>
    <section class="registros">
      <article class="registro">
        <section>
          <img src="{% static 'img/camion-de-carga.png' %}" alt="">
        </section>
        <section class="datos">
          <p>Placa</p>
          <p>Capacidad</p>
          <p>Documentos</p>
          <p>Tipo De Vehiculo</p>
          <div>
            <a href="./modificar" class="button">Modificar</a>
            <button class="button boton-eliminar-vehiculo">Eliminar</button>
          </div>
        </section>
      </article>
      <article class="registro">
        <section>
          <img src="{% static 'img/camion-de-carga.png' %}" alt="">
        </section>
        <section class="datos">
          <p>Placa</p>
          <p>Capacidad</p>
          <p>Documentos</p>
          <p>Tipo De Vehiculo</p>
          <div>
            <a href="./modificar" class="button">Modificar</a>
            <button class="button boton-eliminar-vehiculo">Eliminar</button>
          </div>
        </section>
      </article>
      <article class="registro">
        <section>
          <img src="{% static 'img/camion-de-carga.png' %}" alt="">
        </section>
        <section class="datos">
          <p>Placa</p>
          <p>Capacidad</p>
          <p>Documentos</p>
          <p>Tipo De Vehiculo</p>
          <div>
            <a href="./modificar" class="button">Modificar</a>
            <button class="button boton-eliminar-vehiculo">Eliminar</button>
          </div>
        </section>
      </article>
      <article class="registro">
        <section>
          <img src="{% static 'img/camion-de-carga.png' %}" alt="">
        </section>
        <section class="datos">
          <p>Placa</p>
          <p>Capacidad</p>
          <p>Documentos</p>
          <p>Tipo De Vehiculo</p>
          <div>
            <a href="./modificar" class="button">Modificar</a>
            <button class="button boton-eliminar-vehiculo">Eliminar</button>
          </div>
        </section>
      </article>
      <article class="registro">
        <section>
          <img src="{% static 'img/camion-de-carga.png' %}" alt="">
        </section>
        <section class="datos">
          <p>Placa</p>
          <p>Capacidad</p>
          <p>Documentos</p>
          <p>Tipo De Vehiculo</p>
          <div>
            <a href="./modificar" class="button">Modificar</a>
            <button class="button boton-eliminar-vehiculo">Eliminar</button>
          </div>
        </section>
      </article>
      <article class="registro">
        <section>
          <img src="{% static 'img/camion-de-carga.png' %}" alt="">
        </section>
        <section class="datos">
          <p>Placa</p>
          <p>Capacidad</p>
          <p>Documentos</p>
          <p>Tipo De Vehiculo</p>
          <div>
            <a href="./modificar" class="button">Modificar</a>
            <button class="button boton-eliminar-vehiculo">Eliminar</button>
          </div>
        </section>
      </article>
      <article class="registro">
        <section>
          <img src="{% static 'img/camion-de-carga.png' %}" alt="">
        </section>
        <section class="datos">
          <p>Placa</p>
          <p>Capacidad</p>
          <p>Documentos</p>
          <p>Tipo De Vehiculo</p>
          <div>
            <a href="./modificar" class="button">Modificar</a>
            <button class="button boton-eliminar-vehiculo">Eliminar</button>
          </div>
        </section>
      </article>
      <article class="registro">
        <section>
          <img src="{% static 'img/camion-de-carga.png' %}" alt="">
        </section>
        <section class="datos">
          <p>Placa</p>
          <p>Capacidad</p>
          <p>Documentos</p>
          <p>Tipo De Vehiculo</p>
          <div>
            <a href="./modificar" class="button">Modificar</a>
            <button class="button boton-eliminar-vehiculo">Eliminar</button>
          </div>
        </section>
      </article>

    </section>
  </article>
  {% endblock %}