{% extends 'layouts/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'styles/estilosOferta.css' %}">
<title>Registrar Conductor</title>
{% endblock %}

<!-- Inicio body -->

{% block content %}
<main class="oferta registrar-usuario">
  <section class="oferta-img">
    <img src="{% static 'img/conductor.png' %}" alt="oferta">
  </section>
  <section class="oferta-form-container user-form-container">
    <form action="" class="oferta-form" method="POST">
      {% csrf_token %}

      <div>
        <h2>Registrar</h2>
        <h3>Conductor</h3>
      </div>
      {% if usuario %}
      <p class="existe">{{usuario}}</p>
      {% endif %}
      {{form}}
      <div>
        <input class="button" type="submit" value="REGISTRAR">
        <button class="button">CANCELAR</button>
      </div>
    </form>
  </section>
  {% endblock %}