@import url("https://fonts.googleapis.com/css2?family=Encode+Sans&family=Raleway:wght@300;500;700&display=swap"); /*Importacion del tipo de letra */

/** Globales  */
html {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/** Nav  */
.header {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 4rem;
  background-color: white;
  border-bottom: thin solid black;
}

.nav-items img,
nav > img {
  width: auto;
  height: 100%;
}

nav {
  width: 98%;
  height: 100%;
  padding: 0.2rem;
  display: grid;
  grid-template-columns: 7rem 1fr;
  grid-template-rows: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.nav-items {
  justify-self: end;
  width: min(25rem, 90%);
  height: 55%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
}

.nav-items a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-cart-icon{
  cursor: pointer;
}

img:hover{
 drop-shadow: x-axis: 0, y-axis: 46; blur: 130
}

/** Footer  */
.footer {
  width: 100vw;
  height: 11.5rem;
  position: absolute;
  bottom: 0;
}

.footer article {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer section:nth-child(1) {
  background-color: #749f82;
}
.footer section:nth-child(2) {
  background-color: #3d8361;
  color: white;
}

.footer section {
  padding: 1rem 1rem 0 3rem;
}

.footer p {
  width: min(30rem, 100%);
}

.footer img {
  width: 6rem;
  height: auto;
}

.car-icon{
  width: 30px;
  height: 30px;
  stroke: #000;
  cursor:pointer;
  display: flex-end;
  
}
.car-icon:hover{
  stroke: #3d8361;
}

.container-icon{
  position: relative;
}

.count-products{
  position:absolute;
  top:1%;
  right: 0;

  background-color: rgb(0, 0, 0);
  color: #fff;
  width: 15px;
  height: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
#contador-producto{
  font-size: 10px;
}

.container-cart-products{
  position:absolute;
  top: 50px;
  right: 0;

  background-color: #749f82;
  width: 400px;
  z-index: 1;
  box-shadow: 0 10px 20px rgba(0,0,0,0.20);
  border-radius: 10px;
}
.cart-product{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;

  border-bottom: 1px solid rgba(0,0,0,0.20);
}
.info-cart-product{
  display: flex;
  justify-content: space-between;
  flex: 0.8;
  color:white;
  top:1;

}
.titulo-producto-carrito{
  font-size: 20px;
}
.precio-producto-carrito{
  font-weight: 700;
  font-size: 20px;
  margin-left: 10px;
}
.cantidad-producto-carrito{
  font-weight: 400;
  font-size: 20px;
}
.cancel-icon{
  width: 50px;
  height: 50px;
  stroke: #000000;
  top: 0;
  position: absolute;
  right: 0;
  height: 40%;
}
.cancel-icon:hover{
  stroke: red;
  cursor:pointer;
}
.cart-total{
  display: flex;
  justify-content: center;
  align-items: bottom;
  padding: 20px 0;
  gap: 20px;

}
.cart-total h3{
  font-size: 20px;
  font-weight: 700;
}

.total-pagar{
  font-size: 20px;
  font-weight: 900;
  
}
.hidden-cart{
  display: none;
}