{% extends 'layouts/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'styles/estilosOferta.css' %}">
<title>Modificar Oferta</title>
{% endblock %}

<!-- Inicio body -->

{% block content %}
<main class="oferta registrar-oferta">
  <section class="oferta-img">
    <img src="{% static 'img/oferta.png' %}" alt="oferta">
  </section>
  <section class="oferta-form-container">
    <form action="" class="oferta-form">
      <div>
        <h2>Oferta</h2>
        <h3>Modificar</h3>
      </div>
      <input type="text" placeholder="ID">
      <input type="text" placeholder="Nombre Producto">
      <input type="text" placeholder="Calidad">
      <input type="text" placeholder="Cantidad (Kilos)">
      <input type="text" placeholder="Precio (kilo)">
      <div>
        <input class="button" type="submit" value="MODIFICAR">
        <button class="button">CANCELAR</button>
      </div>
    </form>
  </section>
  {% endblock %}