{% extends 'layouts/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'styles/estilosOferta.css' %}">
<title>Oferta</title>
{% endblock %}

<!-- Inicio body -->

{% block content %}
<main>
  <article class="oferta ofertas-registradas">
    <section class="title">
      <h2>Tus Ofertas Registradas</h2>
      <a href="./registrar"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
          stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
      </a>
    </section>
    <section class="registros">
      {%for oferta in ofertas%}
      <article class="registro">
        <section>
          <img src="{% static 'img/guayaba.png'%}" alt="">
        </section>
        <section class="datos">
          <p>{{oferta.id}}</p>
          <p>{{oferta.precio}}</p>
          <p>{{oferta.cantidad}}</p>
          <p>{{oferta.id_producto.nombre}}</p>
          <div>
            <a href="./modificar" class="button">
              Modificar
            </a>
            <button class="button boton-eliminar-oferta">
              Eliminar
            </button>
          </div>
        </section>
      </article>
      {%endfor%}
      <!-- <article class="registro">
        <section>
          <img src="{% static 'img/guayaba.png'%}" alt="">
        </section>
        <section class="datos">
          <p>ID</p>
          <p>Nombre</p>
          <p>Calidad</p>
          <p>Cantidad</p>
          <p>Precio</p>
          <div>
            <a href="./modificar" class="button">
              Modificar
            </a>
            <button class="button boton-eliminar-oferta">
              Eliminar
            </button>
          </div>
        </section>
      </article>
      <article class="registro">
        <section>
          <img src="{% static 'img/guayaba.png'%}" alt="">
        </section>
        <section class="datos">
          <p>ID</p>
          <p>Nombre</p>
          <p>Calidad</p>
          <p>Cantidad</p>
          <p>Precio</p>
          <div>
            <a href="./modificar" class="button">
              Modificar
            </a>
            <button class="button boton-eliminar-oferta">
              Eliminar
            </button>
          </div>
        </section>
      </article>
      <article class="registro">
        <section>
          <img src="{% static 'img/guayaba.png'%}" alt="">
        </section>
        <section class="datos">
          <p>ID</p>
          <p>Nombre</p>
          <p>Calidad</p>
          <p>Cantidad</p>
          <p>Precio</p>
          <div>
            <a href="./modificar" class="button">
              Modificar
            </a>
            <button class="button boton-eliminar-oferta">
              Eliminar
            </button>
          </div>
        </section>
      </article>
      <article class="registro">
        <section>
          <img src="{% static 'img/guayaba.png'%}" alt="">
        </section>
        <section class="datos">
          <p>ID</p>
          <p>Nombre</p>
          <p>Calidad</p>
          <p>Cantidad</p>
          <p>Precio</p>
          <div>
            <a href="./modificar" class="button">
              Modificar
            </a>
            <button class="button boton-eliminar-oferta">
              Eliminar
            </button>
          </div>
        </section>
      </article>
      <article class="registro">
        <section>
          <img src="{% static 'img/guayaba.png'%}" alt="">
        </section>
        <section class="datos">
          <p>ID</p>
          <p>Nombre</p>
          <p>Calidad</p>
          <p>Cantidad</p>
          <p>Precio</p>
          <div>
            <a href="./modificar" class="button">
              Modificar
            </a>
            <button class="button boton-eliminar-oferta">
              Eliminar
            </button>
          </div>
        </section>
      </article>
      <article class="registro">
        <section>
          <img src="{% static 'img/guayaba.png'%}" alt="">
        </section>
        <section class="datos">
          <p>ID</p>
          <p>Nombre</p>
          <p>Calidad</p>
          <p>Cantidad</p>
          <p>Precio</p>
          <div>
            <a href="./modificar" class="button">
              Modificar
            </a>
            <button class="button boton-eliminar-oferta">
              Eliminar
            </button>
          </div>
        </section>
      </article>
      <article class="registro">
        <section>
          <img src="{% static 'img/guayaba.png'%}" alt="">
        </section>
        <section class="datos">
          <p>ID</p>
          <p>Nombre</p>
          <p>Calidad</p>
          <p>Cantidad</p>
          <p>Precio</p>
          <div>
            <a href="./modificar" class="button">
              Modificar
            </a>
            <button class="button boton-eliminar-oferta">
              Eliminar
            </button>
          </div>
        </section>
      </article>
      <article class="registro">
        <section>
          <img src="{% static 'img/guayaba.png'%}" alt="">
        </section>
        <section class="datos">
          <p>ID</p>
          <p>Nombre</p>
          <p>Calidad</p>
          <p>Cantidad</p>
          <p>Precio</p>
          <div>
            <a href="./modificar" class="button">
              Modificar
            </a>
            <button class="button boton-eliminar-oferta">
              Eliminar
            </button>
          </div>
        </section>
      </article> -->
    </section>
  </article>
  {% endblock %}