/** Registrar vehiculo ---------------*/

.login {
    position: relative;
    justify-self: center;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    height: 44rem;
    margin-bottom: 5rem;
    top: 11rem;
  }

  .login-img {
    position: relative;
    border-radius: 3px;
    max-width: 32rem;
    min-width: 5rem;
  }
  
  .login-img img {
    border-radius: 5px;
    width: 100%;
    object-fit: cover;
    object-position: right;
  }
  
  .login-img::after {
    position: absolute;
    content: "";
    width: 10rem;
    height: 10rem;
    border: 3px solid white;
    border-radius: 50%;
    left: 0;
    top: 0;
    transform: translate(-60%, -50%);
    background-color: var(--c4);
  }
  
  .login-form-container {
    position: relative;
    top: 1rem;
    left: -5rem;
    min-width: 23rem;
  }
  
  .login-form::before {
    position: absolute;
    content: "";
    width: 150%;
    height: 50%;
    background-color: var(--c1);
    bottom: -8%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }
  
  .login-form {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    row-gap: 0.5rem;
    background-color: white;
    border: thin solid var(--c4);
    border-radius: 3px;
  }
  
  
  .login-form div {
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
  }
  
  .login-form div:nth-of-type(2) {
    justify-content: center;
    column-gap: 2rem;
  }
  
  .login-form h3 {
    font-size: 0.7rem;
  }
  
  .login-form input[type="text"]:focus {
    outline: 3px solid var(--c1);
  }

  .login-form input[type="radio"]{
    display: none;
  }
  .login-form .radio label {
    
    background: rgba(61, 131, 97, .1);
    padding: 5px 15px;
    display: inline-block;
    border-radius: 3px;
    cursor: pointer;

  }
  .login-form .radio label:hover {
    background: rgba(116, 159, 129,0.9);
    color: aliceblue;
  }


  .button,
  .login-form input {
    height: 2.5rem;
    padding: 1rem;
    border-radius: 3px;
    background-color: #eadcdc;
  }
  .login-form input[type="submit"],
  .button {
    padding: 0.5rem;
    font-weight: 400;
  }
  
  .login-form input[type="submit"]:hover,
  .button:hover {
    cursor: pointer;
    background-color: var(--c1);
  }


  
