{% extends 'layouts/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'styles/estilosLogin.css' %}">
<title>Iniciar Sesion</title>
{% endblock %}

<!-- Inicio body -->

{% block content %}
<main class="oferta registrar-oferta">
  <section class="oferta-img">
    <img src="{% static 'img/Opciones-usuario.png' %}" alt="oferta">
  </section>
  <section class="oferta-form-container">
    <form action="" class="oferta-form" method="POST">
      {% csrf_token %}
      <div>
        <h2>BIENVENIDOS</h2>
      </div>
      {% if usuario %}
      <p class="existe">{{usuario}}</p>
      {% endif %}
      {{form}}
      <div>
        <input class="button" type="submit" value="INGRESAR">
        <button class="button">CANCELAR</button>
      </div>
    </form>
  </section>
  {% endblock %}