{% extends 'layouts/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'styles/estilosOferta.css' %}">
<title>Modificar Agricultor</title>
{% endblock %}


{% block content %}
<main class="oferta registrar-usuario registrar-bodega">
  <section class="oferta-img">
    <img src="{% static 'img/Opciones-usuario.png' %}" alt="oferta">
  </section>
  <section class="oferta-form-container user-form-container bodega-form-container">
    <form action="" class="oferta-form">
      <div>
        <h2>Bodega</h2>
        <h3>Modificar</h3>
      </div>
      <input type="text" placeholder="Nombre 1">
      <input type="text" placeholder="Nombre 2">
      <input type="text" placeholder="Apellido 1">
      <input type="text" placeholder="Apellido 2">
      <input type="emai" placeholder="Email">
      <input type="password" placeholder="Contrasena">
      <input type="text" placeholder="Tipo Bodega">
      <input type="text" placeholder="Capacidad">
      <input type="text" placeholder="Telefono">
      <input type="text" placeholder="Perfil">
      <div>
        <input class="button" type="submit" value="MODIFICAR">
        <button class="button">CANCELAR</button>
      </div>
    </form>
  </section>
  {% endblock %}